*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_description: grey;
    --font_description: 'Montserrat', sans-serif;
    --size_font_description: 12px;
}


.bg-page{
    background-color: rgb(235, 228, 223);
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    width: 500px;
    /* max-width: 500px;
    min-width: 534px; */
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
   
}

.img_container, .text_container{
    width: 50%;
}

.text_container{
    padding: 30px;;
}

.text_container .small_caps{
    font-variant: small-caps;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 14px;
    text-align: left;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.perfume_name{
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;

}

.perfume_description{
    line-height: 21px ;
    margin-bottom: 20px;

}


.img_container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px 0 0 10px;
}


.price{
    display: flex;
    height: 40px;
    justify-content: space-around;
}


.big_price{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(24, 120, 99) ;
    font-size: 19px;
    align-items: center;
    height: 100%;


}

.small_price, .perfume_description{
    color: var(--color_description);
    font-family: var(--font_description);
    font-size: var(--size_font_description);   
}

.small_price{
    height: 100%;
    display: flex;
    align-items: center;
    
       
}

.button_container{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

button{
    background-color:  rgb(24, 120, 99) ;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    width: 100%;
    height: 11%;
    font-family: var(--font_description);
    font-weight: 600;
}

.fa-shopping-cart{
    margin-right: 10px;
}

button:hover{
    background-color:rgb(12, 69, 57);
    cursor: pointer;
}


.perfume_description>br{
    display: none;
}


footer{
    text-align: center;
    font-size: 10px;
    height: 10px;

}

img[src*="mobile"]{
    display: none;
}



@media screen and (max-width: 505px) {
    
    .container{
        display: block;
        width: 90%;
        height: 90%;
        

    }

    .img_container{
        height: 40%;
        width: 100%;
        object-fit: cover;
        
    }

    img[src*="desktop"], .perfume_name>br{
        display: none;
    }

    img[src*="mobile"]{
        display: block;
        object-fit:cover;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
       
    }

    .text_container{
        width: 100%;
        height: 60%;
    }

    .perfume_description>br{
        display:block;
    }

    .perfume_description, .perfume_name, .button_container{
        margin: 2% 0;
    }

    .price{
        justify-content: flex-start;
        
    }

    .small_price{
        margin-left: 15px;
    }

    .button_container{
        height: 15%;
        

    }

    button{
         height: 100%;
        
    }

}


@media screen and (max-width: 428px) {
    
    .perfume_description, .perfume_name, .button_container{
        margin: 5% 0;
    }
    
    .button_container{
        height: 18%;
        

    }
}
